<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title>Ginevar - Contact us!</title>
  <meta name="description" content="This is an example of a meta description. This will often show up in search results.">
</head>
<body>
	<div class="menu" style="">
		<div class="" style="height: 60%;width: 40%">
			<img src="assets/logo.svg" style="width: 4em">
			<img src="assets/GINEVAR.svg" style="margin-top: 2em;" align="bottom">
		</div>
		<div class="" style="width: 60%;">
			<ul class="navbar-nav" style="float: right;">
	      <li class="nav-item">
	        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="portfolio.html">Portfolio</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="https://apply.workable.com/ginevar/">Careers</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="contact.html" tabindex="-1" aria-disabled="true">Contact</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link startproj" href="#" >START PROJECT</a>
	      </li>
	    </ul>
		</div> 
	</div>

	<div class="container " style="background-color: #441da9;height: 30em;width: 100%;">
	  <div class="container col-sm-4 cta">
	  	<section class="contact-wrap" style="margin-bottom: 1em">
		  <form action="" class="contact-form">
		    
		    <div class="col-sm-12">
		      <div class="input-block">
		        <label for="">Email</label>
		        <input type="text" class="form-control">
		      </div>
		    </div>
		    <div class="col-sm-12">
		      <div class="input-block">
		        <label for="">Message Subject</label>
		        <input type="text" class="form-control">
		      </div>
		    </div>
		    <div class="col-sm-12">
		      <div class="input-block textarea">
		        <label for="">Drop your message here</label>
		        <textarea rows="3" type="text" class="form-control"></textarea>
		      </div>
		    </div>
		    <div class="col-sm-12" style="margin-bottom: 1em;">
		      <button class="square-button" style="display: none">Send</button>
		    </div>
		  </form>
		</section>
	  	<a class=" getstarted" href="#" style=";margin-left: 1em">Send</a>
	  </div>
	  <div class="container videodiv">
		<img src="assets/ouch.svg" width="500">
	  </div>
	</div>



</body>
<footer>
	<div class="container" style="padding: 4%">
		<div class="row">
			<div class="col-sm-4">
				<h3>Ginevar</h3>
				<p style="color: black">Ginevar is a cloud platform, that helps you to build, run and manage all the tools you would need to manage your work and earn time. </p>
				
			</div>
			<div class="col-sm-3">
			</div>
			<div class="col-sm-2" >
				<ul >
				  <li><a href="default.asp" style="line-height: 3.333em;">Product</a></li>
				  <li><a href="news.asp" style="font-family: neosansregular, sans-serif;color: #444444">Features</a></li>
				  <li><a href="contact.asp" style="font-family: neosansregular, sans-serif;color: #444444">Blog</a></li>
				  <li><a href="about.asp" style="font-family: neosansregular, sans-serif;color: #444444">Pricing</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul style="text-align: left">
				  <li><a href="default.asp" style="line-height: 3.333em;">Company</a></li>
				  <li><a href="news.asp" style="font-family: neosansregular, sans-serif;color: #444444">About Us</a></li>
				  <li><a href="contact.asp" style="font-family: neosansregular, sans-serif;color: #444444">Contact</a></li>
				  <li><a href="about.asp" style="font-family: neosansregular, sans-serif;color: #444444">Support</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</html>