<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title>Ginevar - Production ready development in no time</title>
  <meta name="description" content="This is an example of a meta description. This will often show up in search results.">
</head>
<body>
	<div class="menu" style="">
		<div class="" style="height: 60%;width: 40%">
			<img src="assets/logo.svg" style="width: 4em">
			<img src="assets/GINEVAR.svg" style="margin-top: 2em;" align="bottom">
		</div>
		<div class="" style="width: 60%;">
			<ul class="navbar-nav" style="float: right;">
	      <li class="nav-item">
	        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="portfolio.html">Portfolio</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="https://apply.workable.com/ginevar/">Careers</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="contact.html" tabindex="-1" aria-disabled="true">Contact</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link startproj" href="#" >START PROJECT</a>
	      </li>
	    </ul>
		</div> 
	</div>

	<div class="container " style="background-color: #441da9;height: 30em;width: 100%;">
	  <div class="container col-sm-4 cta">
	  	<h1 style="color: white">Production ready development in no time</h2>
	  	<p>Using our in-house built platform Ginevar Cloud, our developers can set up your project and host it in a matter of hours. Connect easily to a web or app, and focus on the details that make every single app unique flawlessly.</p>
	  	<a class=" getstarted" href="#" >Get Started</a>
	  </div>
	  <div class="container videodiv">
		<img src="assets/video.svg" width="500">
	  </div>
	</div>

	<div class="container toolss">
		<div class="container col-sm-4" style="height: 100%;align-items: flex-end;display: flex;">
	 		<img src="assets/tools.svg" width="300">
		</div>
		<div class="container col-sm-4 ">
			<p style="color: #441da9;font-family: neosansmedium, sans-serif;">Tools Designer</p>
		  	<h1 >Tailor-made solutions for every platform.</h2>
			<p class="grayfont" >Websites and apps that run smoothly on every device is a must nowadays. From phones to tablets, from an old computer to the newest iDevice, we design and develop beautiful and high-performance applications for every platform.</p>
		</div>
		<div class="" style="position: absolute;right: 0;width: fit-content;margin-top: -4em;">
	 		<img src="assets/inspace.svg" width="300">
	 		<p class="grayfont" style="font-size: 13px;opacity: 0.3">Connect with customers and grow faster</p>
		</div>
	</div>

	<div class="container toolsb" style="">
		<div class="container" style="">
			<div class="container col-sm-4" style="height: 100%;align-items: flex-start;display: flex;">
	 		<img src="assets/backend.svg" width="350">
			</div>
			<div class="container col-sm-4 " style="float: right;text-align: start;margin-right: 10%">
				<p style="color: #FF0084;font-family: neosansmedium, sans-serif;">Tools Backend</p>
			  	<h1 >Focus on the front. Forget about the back.</h2>
				<p class="grayfont" style="">Our team has more than 100 years combined experience in building MVPs, apps and campaigns in record time. Fast and reliable development at the palm of your hand.</p>
				<a class=" getstartedbe" href="#" style="float: right">Get Started</a>
			</div>
		</div>
		<div class="container  " style="margin-top: 5%;float:none">
			<div class="row " style="text-align: ">
				<div class="col-sm-" style=""></div>
				<div class="col-sm-3 ">
					<p style="color: #444444">
						<span style="font-family: neosansmedium, sans-serif;">Database.</span>
					Foundation works with the tools and services you already use every day.
					</p>
					<a class="backendhref" href="">Learn more about GinevarDB</a>
				</div>
				<div class="col-sm-3 col-sm-offset-1">
					<p style="color: #444444">
						<span style="font-family: neosansmedium, sans-serif;">Urgency.</span>
					We take care of immediate requests for applications needed within weeks, in a program we called Ginevar Delivery.
					</p>
					<a class="backendhref" href="">Learn more about Ginevar Delivery</a>
				</div>
				<div class="col-sm-3 col-sm-offset-1">
					<p style="color: #444444">
						<span style="font-family: neosansmedium, sans-serif;">Worldwide.</span>
					Our current clients are settled from South America to Europe, and we are happy to expand our frontiers!
					</p>
					<a class="backendhref" href="">Learn more about our reach</a>
				</div>
			</div>
			
			
		</div>
		
	</div>

	<div class="container toolss">
		
		<div class="container col-sm-4 ">
			<p style="color: #FFAE21;font-family: neosansmedium, sans-serif;">Search Engine Optimization</p>
		  	<h1 >Get to the top with CloudSEO.</h2>
			<p class="grayfont" >Our in-house tools built by SEO experts let our engineers go deep and get the most out of the data so you can rank top in Google Page Rank. Start getting organic views as soon as your project goes live!</p>
	 		<a class=" getstartedfe" href="#" >Get Started</a>
		</div>
		<div class="container col-sm-4" style="height: 100%;align-items: flex-end;display: flex;">
	 		<img src="assets/front.svg" width="300">
		</div>
		<div class="" style="position: absolute;right: 0;width: fit-content;margin-top: -4em;">
	 		<img src="assets/inspace.svg" width="300">
	 		<p class="grayfont" style="font-size: 13px;opacity: 0.3">Connect with customers and grow faster</p>
		</div>
	</div>
	<div class="container toolsy" >
		<div class="container col-sm-4 " style="float: right;">
			<p style="color: #00AEF3;font-family: neosansmedium, sans-serif;">Tools Management</p>
		  	<h1 >Be updated wherever you are.</h2>
			<p class="grayfont" >Get an updated report of your project. Any design, development or project management update will be displayed in Ginevar Orchestra dashboard. Upload builds and check your app wherever you are!</p>
			<a href="" class="hreftools">Learn more about Ginevar Orchestra</a>
	 		<a class=" getstartedtools" href="#" >Get Started</a>
		</div>
		
	</div>
	<div class="container toolsc" >
		<div class="col-sm-6"></div>
		<div class="container col-sm-4" style="margin-top: -3em">
			<h1>Join thousands of developers!</h1>
			<p style="color: black">Subscribe our newsletter and get notified about company updates, news and blog posts. </p>
			<div class="input-group">
			    <input class="form-control width100" placeholder="Enter your email address">
			    <span class="input-group-btn" >
			        <button class="btn btn-info" style="background-color: #441da9">Subscribe</button>
			    </span>
			</div>
		</div>
		
	</div>

</body>
<footer>
	<div class="container" style="padding: 4%">
		<div class="row">
			<div class="col-sm-4">
				<h3>Ginevar</h3>
				<p style="color: black">Ginevar is a cloud platform, that helps you to build, run and manage all the tools you would need to manage your work and earn time. </p>
				
			</div>
			<div class="col-sm-3">
			</div>
			<div class="col-sm-2" >
				<ul >
				  <li><a href="default.asp" style="line-height: 3.333em;">Product</a></li>
				  <li><a href="news.asp" style="font-family: neosansregular, sans-serif;color: #444444">Features</a></li>
				  <li><a href="contact.asp" style="font-family: neosansregular, sans-serif;color: #444444">Blog</a></li>
				  <li><a href="about.asp" style="font-family: neosansregular, sans-serif;color: #444444">Pricing</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul style="text-align: left">
				  <li><a href="default.asp" style="line-height: 3.333em;">Company</a></li>
				  <li><a href="news.asp" style="font-family: neosansregular, sans-serif;color: #444444">About Us</a></li>
				  <li><a href="contact.asp" style="font-family: neosansregular, sans-serif;color: #444444">Contact</a></li>
				  <li><a href="about.asp" style="font-family: neosansregular, sans-serif;color: #444444">Support</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</html>