<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <title>Ginevar - Contact us!</title>
  <meta name="description" content="This is an example of a meta description. This will often show up in search results.">
</head>
<body style="">
	<div class="menu" style="">
		<div class="" style="height: 60%;width: 40%">
			<img src="assets/logo.svg" style="width: 4em">
			<img src="assets/GINEVAR.svg" style="margin-top: 2em;" align="bottom">
		</div>
		<div class="" style="width: 60%;">
			<ul class="navbar-nav" style="float: right;">
	      <li class="nav-item">
	        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="portfolio.html">Portfolio</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="https://apply.workable.com/ginevar/">Careers</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link disabled" href="contact.html" tabindex="-1" aria-disabled="true">Contact</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link startproj" href="#" >START PROJECT</a>
	      </li>
	    </ul>
		</div> 
	</div>

<h2 class="pre text-center" style="margin-bottom: 5%">Portfolio</h2>
<div class="row align-items-center h-100 text-center text-lg-left">
	<div class="col-lg-6 p-lg-0">
		<picture> 
			<source type="image/webp" data-srcset="/dist/images/agyle-intelligence.webp 1x, /dist/images/agyle-intelligence@2x.webp 2x" class="showcase__preview"> 
				<img src="assets/icao.svg" width="100">
		</picture>
	</div>
	<div class="col-lg-5 mx-auto py-3">
		<h3 class="h3">ICAO <span class="badge ">2019</span></h3>
		<p class="portfoliodesc">A platform to help pilots learn and practice for the International Civil Aviation Association test.</p>
		<a href="https://www.agyleintelligence.com" data-lightbox class="btn btn-primary mr-lg-3 d-none d-lg-inline-block visitsite">Preview</a>
	</div>

</div><hr>
<div class="row align-items-center h-100 text-center text-lg-left">
	<div class="col-lg-6 p-lg-0">
		<picture> 
			<source type="image/webp" data-srcset="/dist/images/agyle-intelligence.webp 1x, /dist/images/agyle-intelligence@2x.webp 2x" class="showcase__preview"> 
				<img  src="assets/hewa.svg" width="400">
		</picture>
	</div>
	<div class="col-lg-5 mx-auto py-3">
		<h3 class="h3">Hewa Crowdfunding <span class="badge ">2018</span></h3>
		<p class="portfoliodesc" >Platform to invest in kickstarter and indiegogo campaigns using cryptocurrencies, mainly Bitcoin's ledger.</p>
		<a href="https://www.hewa.me" data-lightbox class="btn btn-primary mr-lg-3 d-none d-lg-inline-block visitsite">Preview</a>
	</div>

</div><hr>



</body>
<footer>
	<div class="container" style="padding: 4%">
		<div class="row">
			<div class="col-sm-4">
				<h3>Ginevar</h3>
				<p style="color: black">Ginevar is a cloud platform, that helps you to build, run and manage all the tools you would need to manage your work and earn time. </p>
				
			</div>
			<div class="col-sm-3">
			</div>
			<div class="col-sm-2" >
				<ul >
				  <li><a href="default.asp" style="line-height: 3.333em;">Product</a></li>
				  <li><a href="news.asp" style="font-family: neosansregular, sans-serif;color: #444444">Features</a></li>
				  <li><a href="contact.asp" style="font-family: neosansregular, sans-serif;color: #444444">Blog</a></li>
				  <li><a href="about.asp" style="font-family: neosansregular, sans-serif;color: #444444">Pricing</a></li>
				</ul>
			</div>
			<div class="col-sm-3">
				<ul style="text-align: left">
				  <li><a href="default.asp" style="line-height: 3.333em;">Company</a></li>
				  <li><a href="news.asp" style="font-family: neosansregular, sans-serif;color: #444444">About Us</a></li>
				  <li><a href="contact.asp" style="font-family: neosansregular, sans-serif;color: #444444">Contact</a></li>
				  <li><a href="about.asp" style="font-family: neosansregular, sans-serif;color: #444444">Support</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
</html>